{% extends 'master/master.html' %}
{% block content %}

<!-- Banner Starts Here -->
<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    {% for Category in categoryData %}
    <div class="banner-item-01">
      {% for products in Category.products_set.all %}
      <div class="text-content">
        <h4>{{ products.title }}</h4>
        <a href="{% url 'all-products' products.slug %}"><img src="{{ products.image.url }}" alt=""></a>
      </div>

      {% endfor %}
    </div>

    {% endfor %}
  </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest Products</h2>
          <a href="{% url 'product-category' %}">view all products <i class="fa fa-angle-right"></i></a>
        </div>
      </div>

      {% for cat in categoryData %}
      {% for goods in cat.products_set.all %}
      <div class="col-md-4">

        <div class="product-item">
          <a href="#"><img src="{{ goods.image.url }}" alt=""></a>
          <div class="down-content">
            <a href="{% url 'all-products' goods.slug %}">
              <h4>{{goods.title|upper}}</h4>
            </a>
            <h6>Rs.{{ goods.price }}</h6>
            <p>{{ goods.description|safe }}</p>
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span></span>
          </div>

        </div>
      </div>
      {% endfor %}
      {% endfor %}

    </div>
  </div>
</div>

<div class="best-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>About Sixteen Clothing</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Looking for the best products?</h4>
          <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This
              template</a> is free to use for your business websites. However, you have no permission to redistribute
            the downloadable ZIP file on any template collection website. <a rel="nofollow"
              href="https://templatemo.com/contact">Contact us</a> for more info.</p>
          <ul class="featured-list">
            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><a href="#">Consectetur an adipisicing elit</a></li>
            <li><a href="#">It aquecorporis nulla aspernatur</a></li>
            <li><a href="#">Corporis, omnis doloremque</a></li>
            <li><a href="#">Non cum id reprehenderit</a></li>
          </ul>
          <a href="{% url 'about' %}" class="filled-button">Read More</a>
        </div>
      </div>
      <div class="col-md-6">
        {% for data in aboutData %}
        <div class="right-image">
          <img src="{{data.content_img.url}}" alt="">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <div class="row">
            <div class="col-md-8">
              <h4>Creative &amp; Unique <em>{{storeData.s_name}}</em></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.
              </p>
            </div>
            <div class="col-md-4">
              <a href="{% url 'product-category' %}" class="filled-button">Purchase Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}